<div class="page-main animate">
    <div class="page-banner">
        <div class="container">
            <div class="page-title">
                关于我们
            </div>
            <div class="page-breadcrumb">
                <a href="/">首页</a>
                <span>/</span>
                <em>关于我们</em>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="berkgen-title">
            <div class="name">
                伯克生物
                <div class="line"></div>
            </div>
        </div>
        <div class="about-berkgen">
            <div class="content">
                <div class="text">
                    <p>江苏伯克生物医药股份有限公司由国家“千人计划”特聘专家王飞博士创办于2010年6月，注册资本1.18亿元。公司位于江苏省扬州高新技术产业开发区，Ⅰ期工程总投资1.51亿元，规划占地100亩的研发中心、质检中心及GMP生产基地已于2012年4月21日奠基，目前全部单体已于2013年1月28日封顶，2013年11月11日竣工入驻。公司于2010年11月26日获得《医疗器械经营企业许可证》，2014年1月10日获得《全国工业产品生产许可证》(食品生产许可证)。2014年3月4日，我公司获得上海股权托管交易中心准予E板挂牌的批复通知，3月31日挂牌仪式在上海股权托管交易中心交易大厅隆重举行，随着公司董事长王飞博士敲响开市锣，公司成功登陆上海股权托管交易中心E板市场，也迎来了发展的新时刻，腾飞的新起点。</p>
                    <img src="/images/about-1.png" alt="" 、/>
                    <p>公司注重技术人才的引进和培养，目前包括控股子公司千人计划研究院在内的公司研发管理团队总人数61人，其中博士8位，硕士7位，本科31人。核心团队人员8位，其中6位海外高层次留学人才，2位国家“千人计划”特聘专家，1位国家“青年千人计划”
                        特聘专家，团队在管理、技术和市场方面的经验、优势充分互补。公司与江南大学、扬州大学、天津医科大学、国家疾病预防控制中心职业病防治研究院、美国加州大学伯克利分校等国内外多所科研院所具有科研合作。公司董事长王飞及团队获得荣誉有：国家人社部首批“中国留学人员回国创业启动支持计划”、国家“千人计划”特聘专家、京津冀“生物医药领军人才计划”、2010年江苏省“创业创新领军人才计划”、扬州市“绿扬金凤人才计划”、江苏省首批培育“100家科技创新团队”、人事部“留学人员科技活动项目择优资助计划”、国务院侨办“重点华侨华人创业团队”、第四届新侨创新成果交流会-中国侨界贡献奖（创新人才）、第九批“六大人才高峰”高层次人才项目资助、扬州市十大经济新闻人物、扬州市十大杰出青年、扬州市级“服务业创新团队”、扬州市农业龙头企业、江苏省食品生产安全协会会员单位等。
                    </p>
                    <img src="/images/about-2.png" alt="" />

                    <p>公司汇聚了国内外生物、医药领域的顶尖人才，以王飞博士为首的创业团队奠定了公司的技术基础。公司主持或参加的各类科研项目有：科技部“十一五”国家新药创制重大专项两项（重组AAV-sFlt基因治疗失明、抗尘肺的I类新药产业化）、国家科技支撑计划“黄曲霉毒素综合控制与检测体系”、国家高科技研究发展计划（863计划）项目（“食品生物危害精准检测与控制技术研究”）、国家自然科学基金立项（干细胞向视网膜色素上皮分化过程中相关miRNAs及其对JUN调控的研究）、科技部科技型中小企业技术创新基金初创期企业创新项目（盐酸替络欧缓释片的研制）、扬州市科技攻关--社会发展科技攻关、国家科技支撑计划“食品安全溯源控制及预警技术研究与推广示范”等。公司获得江苏省食品药品监督管理局颁发的《全国工业产品生产许可证》(食品生产许可证)、《药品生产许可证》。</p>
                    <img src="/images/about-3.png" alt="" />
                    <p>公司专注于食品安全、创新药物、医疗器械和功能食品四个领域中产品的研究、生产及销售，食品安全检测试剂已经形成4大类的产品系列，包括近40种药物的抗原抗体、试剂盒以及瘦肉精检测试纸条、真菌毒素类8种免疫亲和柱，可检测肉、蛋、奶、谷类、饲料、动物组织等20多种样本中40多种的抗生素、激素、非法添加剂、真菌毒素等。其中黄曲霉毒素B1、黄曲霉毒素M1、呕吐毒素、玉米赤霉烯酮、赭曲霉毒素等真菌毒素检测试剂盒、亲和柱产品是国内领先产品，是公司研发团队承担的国家级科研项目的成果转化产品。用于各级动物卫生监督部门普查工作的瘦肉精快速检测试纸条系列产品通过江苏省畜产品质量检验测试中心的质量复核，并已参加农业部组织的“瘦肉精”免疫速测产品评价。用于渔业部门对违禁药物快速筛查的呋喃唑酮代谢物免疫胶体金快速检测试纸板通过农业部渔业产品质量监督检验测试中心（南京）的质量验证。用于食品药品监管部门、质监部门、乳制品企业快速筛查的黄曲霉毒素M1检测试剂盒正在参加江苏省畜产品质量检验测试中心的质量复核。</p>
                    <p>Ⅳ类新药精氨酸布洛芬糖浆剂是布洛芬混悬液的升级换代产品，取得了国内唯一的精氨酸布洛芬儿童剂型新药证书。目前已完成了50公斤级试生产，预计投产后，占据儿童退烧药5-10%的市场份额，年销售额2-5亿元。抗尘肺I类新药盐酸替络欧是国家唯一的针对尘肺病I类新药，临床I期试验表明盐酸替络欧对实验性矽肺具有明显抑制矽肺纤维化病变进展的作用，公司将尽快完成临床II试验，同时加快推进临床III期试验及其产业化进程。基因治疗失明药物成功利用重组AAV-sFlt载体来治疗老年性视网膜黄斑变性，属于创新型药物，已获美国专利，下一步组将完成临床前所有试验，能够按中试规模生产重组AAV-sFlt制剂，获临床批件，开展临床I-III期试验。</p>
                    <p>王飞博士二十年来一直致力于流行病调查和药品研究，他认为保证大众健康不仅需要治疗疾病的药品，更重要的是需要让大众远离亚健康和疾病状态的饮食保健和预防保健。食品安全是饮食保健的关键，公司推出的食品安全检测试剂已进入批量生产和销售。预防保健重在健康的生活方式和身体免疫力的提高，公司倡导健康可持续的“乐活”生活方式，强调均衡营养、绿色有机的饮食习惯和自然、健康、精致的生活态度。公司推出“加乐活”银杏茶芬多肽粉系列功能食品，以现代生物酶解方法对大豆、茶叶和银杏三种中华传统保健良品进行提取和加工，产品富含大豆多肽、茶多酚和银杏多糖，其易消化吸收的特点，能快速补充人体所需能量，具有增强机体免疫力、抗运动疲劳、调节“三高”、抗炎、抗氧化、抗衰老、美容护肤的功效，特别适用于运动营养、中老年保健和病后康复。</p>
                    <p>展望未来，公司将致力于建立绿色、透明的食品、医疗保健产业链，通过无污染的基地管理、高科技的研发加工、最严格的质检标准、规范化的运输管理，在产业链的每个环节，我们将力求完美，以公司在食品安全、营养健康、科技创新方面的诚意和努力为消费者提供安全、健康、美味的产品和最纯净的健康享受。公司还将继续立足主业，在生物医药行业继续搏击长空，以“准上市公司”的模式运作，发挥资本市场的平台作用，提升优势产品的持续开发和创新能力，实现业绩快速增长，将把创造就业、上缴税收、保护环境、善待员工、支持社会公益事业等纳入到企业的发展战略之中，最大限度地实现客户、员工、股东和社会的共赢！</p>
                    <p>“健康·生态·加乐活——伯克生物助您早回健康”！</p>
                </div>
                <div class="clearfix">
                    <div class="item">
                        <p>食品健康</p>
                    </div>
                    <div class="item">
                        <p>创新药物</p>
                    </div>
                    <div class="item">
                        <p>医疗器械</p>
                    </div>
                    <div class="item">
                        <p>功能食品</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-history bg-gray">
        <div class="container">
            <div class="berkgen-title">
                <div class="name">
                    发展里程碑
                    <div class="line"></div>
                </div>
            </div>
            <div class="history-container">
                <div class="history-content">
                    <div class="history-item">
                        <div class="history-item-container">
                            <div class="history-item-content">
                                <h1 class="title">
                                    <p>公司成立</p>
                                    <span>2010.6</span>
                                </h1>
                                <p class="content">
                                    江苏伯克生物医药股份有限公司成立。
                                </p>
                            </div>
                            <div class="pic">
                            </div>

                        </div>
                    </div>
                    <div class="history-item center">
                        <div class="history-item-container">
                            <div class="history-item-content">
                                <h1 class="title">
                                    <p>营企业许可证</p>
                                    <span>2010.11</span>
                                </h1>
                                <p class="content">
                                    获得《医疗器械经营企业许可证》。
                                </p>
                            </div>
                            <div class="pic">

                            </div>

                        </div>
                    </div>
                    <div class="history-item">
                        <div class="history-item-container">
                            <div class="history-item-content">
                                <h1 class="title">
                                    <p>成立子公司千人计划</p>
                                    <span>2012.5</span>
                                </h1>
                                <p class="content">
                                    成立子公司千人计划创新药物与食品安全研究院扬州有限公司。
                                </p>
                            </div>
                            <div class="pic">
                                <img src="" alt="">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>