<div class="page-main animate">
    <div class="page-banner">
        <div class="container">
            <div class="page-title">
                社会责任
            </div>
            <div class="page-breadcrumb">
                <a href="/">首页</a>
                <span>/</span>
                <em>社会责任</em>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="berkgen-title">
            <div class="name">
                我们的责任
                <div class="line"></div>
            </div>
        </div>
        <div class="duty-contetnt">
            <div class="pic">
                <img src="/images/duty.png" alt="">
            </div>
            <div class="content">
                <p>把中国文化中饱富生命力的传统科学以及西方的科技技术相结合，摸索一条以预防为先，治疗为后的健康之路，彻底改变国人的理念，实现健康梦，并以中国为基点，最终将这一观念输送给全世界。</p>
                <p>我们不只是医药企业，我们致力于传播健康生活理念改变中国人的健康状况，这个世界没有神奇的药，慢性疾病基本都是无法治愈的，需要终身服药，中国2.6亿慢性病人的未来医疗负担远超社会承受能力，健康，取决于生活理念、生活方式。“加乐活”系列功能食品和饮料是我们传播健康理念的主要载体，产品开发原则遵循我们的理念：远离添加剂，少用肉制品。</p>
            </div>
        </div>

    </div>
    <div class="duty-list bg-gray">
        <div class="container">
            <div class="duty-list-item">
                <div class="content"></div>
                <div class="pic">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>
</div>