<div class="exception-container">
    <div class="container">
        <div class="exception-img">
            <img src="<%= img %>" alt="">
        </div>
        <div class="exception-content">
            <div class="title">
                <%= title %>
            </div>
            <div class="desc">
                <%= desc %>
            </div>
            <div class="button">
                <a href="/">返回首页</a>
            </div>
        </div>
    </div>
</div>